<%# <% unless current_user == user %>
  <%# <% if current_user.following?(user) %>
    <%# <%= button_to 'フォロー解除', relationship_path(current_user.relationships.find_by(follower: user)), method: :delete %> 
  <%# <% else %> 
     <%# <div class="follow"> %>
          <%# <%= button_to 'フォロー', '#' %> 
     <%# </div> %>
  <%# <% end %> 
<%# <% end %> 