.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-table{
  background-color: #fff;
  margin-left: -16px;
  margin-top: 55px;
}

.report-flag-icon {
  margin-right: 5px;
}

.comment-box {
  background-color: #fff;
  margin: 4vh 0px 4vh 0vh;
  text-align: center;
  width: 100%;
  /* padding-left: 90px; */
  /* padding-right: 90px; */
  font-size: 13px;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.comment-btn {
  line-height: 48px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.links {
  display: flex;
  justify-content: space-between;
 

}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}

.contents-header1{
  background-color: snow;
  padding: 10px;
  margin-bottom: auto;
  justify-content: space-between;
  display: flex;
  font-size: 13px;
  width: 30vw;
  margin: 0 10px 10px -28px;
}
.post-all1{
  width: 450px;
  height: 300px;
  margin: 20px;
}

.content_post1{
  display: inline-block;
  vertical-align: middle;
 
  height: 270px!important;
}

.slider{
 height: 275px;
}

.slick-arrow{
  background-color: burlywood;
  padding: 1px 0px 0px 0px;
  margin: 0px -4px;
}

