.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

/* form-wrapは商品購入画面でも使用しています */
.form-wrap {
  width: 50%;
  background-color: white;
  padding-bottom: 70px;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.form-group-sentence {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 50px auto 120px auto;
  padding-top: 20px;
}

.form-group{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto ;
  padding-top: 20px;
}

.form-group-sub{
  width: 43%;
  display: flex;
  flex-direction: column;
  margin: 0 auto ;
  padding-top: 20px;
}



.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.info-text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-name {
  width: 130px;
  margin: 5px 20px 0 20px;
  height: 48px;
  line-height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
}

.input-birth-wrap select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-birth-wrap p {
  line-height: 60px;
  padding: 0 5px;
}

.field_with_errors {
  display: contents;
}


.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
}

.form-bottom-text>span {
  color: #0099e8;
  cursor: pointer;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
}

.register-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.register-info {
  margin: 30px 180px 0 0;
  color: #0099e8;
  text-align: right;
  cursor: pointer;
}

/*ここから下はSNS認証*/



.form-group-registration {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text-registration {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid transparent;
  line-height: 48px;
  padding: 10px 30px;
  cursor: pointer;
  text-align: center;
  transition: all ease-out .3s;
}

.mail{
  width: 100%;
  background-color: #ea352d;
  padding: 20px 80px;
  color: #fff;
  border-radius: 10px;
}

.facebook{
  width: 100%;
  background-color: #385185;
  padding: 20px 92px;
  color: #fff ;
  border-radius: 10px;
}

.google{
  width: 100%;
  background-color: #fff ;
  padding: 20px 101px;
  border : 1px solid black;
  color: #000;
  border-radius: 10px;
  
}


/*ログイんページ*/

.form-header2{
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 14px;
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: normal;
  margin: auto;
}

.form-header-text p {
  font-size: 14px;
  font-weight: normal;
}

.new-regi{
  width: 43%;
  background-color: #0099e8;
  padding: 20px 40px;
  border : 1px solid #0099e8;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
}

.bi {
  margin-right: 10px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}

a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}

a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn-c {
  font-size: 14px;
  position: relative;
  padding: 1.5rem 4rem 1.5rem 4rem;
  border: 1px solid;
}

a.btn-c i.fa {
  margin-right: 1rem;
}